<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <aside>
        <% include ../partials/aside %>

      </aside>
      <!-- CURRENT USER'S TOPICS -->
      <div class="light-bulb"></div>
      <section class="topics">
        <h2>Your topics</h2>
        <% if (userTopics.length > 0) { %>
            <% for (var i = 0; i < userTopics.length; i++) { %>
              <section class="topics-index user-topics">
                <a href="/topics/<%= userTopics[i].id; %>">
                  <h4><%= userTopics[i].title; %></h4>
                </a>
                <p><%= userTopics[i].description; %></p>
              </section>
            <% } %>
        <% } else { %>
          <h3>Nothing to see, yet. Click 'add a topic' above to start working on your first set of flash cards.</h3>
        <% } %>
      </section>
      <!-- OTHER USERS' TOPICS -->
      <section class="topics">
        <h2>See what other people are studying</h2>
        <% if (otherTopics.length > 0) { %>
          <% for (var i = 0; i < otherTopics.length; i++) { %>
              <section class="topics-index other-topics">
                    <a href="/topics/<%= otherTopics[i].id; %>">
                      <h4><%= otherTopics[i].title; %></h4>
                    </a>
                  <p><%= otherTopics[i].description; %></p>
              </section>
          <% } %>
        <% } else { %>
          <h3>Nothing to see, yet. Share a link to this site with a friend and start cramming together.</h3>
        <% } %>
      </section>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
