<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
        <aside>
          <% include ../partials/aside %>
        </aside>
        <div class="light-bulb"></div>
        <section class="topic-options">
          <h2><%= topic.title; %></h2>
          <p><%= topic.description; %></p>
            <section>
              <% if (user.id === topic.creator) { %>
              <a href="/data/new/<%= topic._id; %>">add flash card</a>
              <a href="/topics/<%= topic._id; %>/edit">edit this topic</a>
              <% } %>
              <% if (cards.length >= 3) { %>
                <a href="/topics/<%= topic._id; %>/revise">revise</a>
              <% } %>
            </section>
        </section>
        <section class="collection">
          <% for (var i = 0; i < cards.length; i++) { %>
            <section class="flash-card">
              <h4><%= cards[i].question; %></h4>
              <p><%= cards[i].answer; %></p>
              <a href="/data/<%= cards[i]._id %>/edit">edit card</a>
            </section>
          <% } %>
        </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
